@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
	font-family: "Anton", sans-serif;
	margin: 50;
	background-color: rgb(0, 0, 0);
	transition-timing-function: ease-out;
}

a {
	background-color: #b63a2d;
	color: #fff;
	padding: 20px;
	display: inline-block;
	transition: background-color 0.5s, transform 0.5s;
	transition-timing-function: ease-out;
}

a:hover {
	background-color: rgb(55, 59, 58);
	transform: translateY(-10px);
}

.wrapper {
	width: 1200px;
	background-color: rgb(3, 9, 9);
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, minmax(100px, auto));
	position: relative;
}

#grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	height: 100%;
}

#grid p {
	border: 1px;
	margin: 0;
	opacity: 0.2;
}

header {
	grid-column: 1 / 13;
	background-color: #b63a2d;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header img {
	grid-column: 1 / 5;
	background-color: #164476;
}

header nav {
	grid-column: 5 / 13;
	background-color: #862834;
}

header nav ul {
	margin: 50;
	padding: 10;
	float: right;
}

header nav ul li {
	display: inline;
	padding-left: 30px;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
}

header img {
	grid-column: 1 /5;
	background-color: #b63a2d;
	align-self: center;
}

header nav {
	grid-column: 5 / 13;
	background-color: #862834;
	align-self: center;
}

.hero-text {
	grid-column: 1 / 7;
	background-color: blue;
}

.hero-image {
	grid-column: 10 / 13;
	background-color: #862834;
}

.hero-image img {
	width: 100%;
}

h1 {
	font-size: 54px;
	line-height: 60px;
	color: #e7e7e7;
	margin: 0;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #fff;
}

h3 {
	font-size: 16px;
	line-height: 36px;
	font-weight: 400;
	color: #fff;
}

.button {
	padding: 15px 30px;
	background-color: #60413e;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

.hero-text {
	grid-column: 1 / 7;
	background-color: #862834;
	align-self: center;
}

.hero-image {
	grid-column: 7 / 13;
	background-color: #862834;
	align-self: center;
}

h2 {
	color: #fff;
	font-size: 60px;
}

.title {
	grid-column: 1/13;
	background-color: #b63a2d;
	text-align: center;
}

.acting-image {
	grid-column: 1 / 4;
	background-color: #862834;
}

.acting-text {
	grid-column: 4 / 13;
	background-color: #862834;
	align-self: center;
}

.acting-image img {
	width: 100%;
}

p {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
}

.world-image {
	grid-column: 8 / 13;
	background-color: rgb(3, 9, 9);
	align-self: center;
	grid-row: 5 / 6;
}

.world-text {
	grid-column: 1 / 8;
	background-color: #b63a2d;
	align-self: center;
}

.world-image img {
	width: 100%;
}

body {
	margin: 0;
}

a {
	background-color: #b63a2d;
	color: #fff;
	padding: 20px;
	transition: background-color 0.5s;
}

a:hover {
	background-color: rgb(55, 59, 58);
}
