@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
	font-family: "Anton", sans-serif;
	margin: 0;
	background-color: aqua;
}

.wrapper {
	width: 1200px;
	background-color: aqua;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(14, minmax(100px, auto));
	position: relative;
}

#grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	height: 100%;
}

#grid p {
	border: 1px;
	margin: 0;
	opacity: 0.2;
}

header {
	grid-column: 1 / 13;
	background color: #B63A2D;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header img {
	grid-column: 1 / 5;
	background-color: #164476;
}

header nav {
	grid-column: 5 / 13;
	background-color: #862834;
}

header nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

header nav ul li {
	display: inline;
	padding-left: 30px;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
}

header img {
	grid-column: 1 /5;
	background-color: paleturquoise;
	align-self: center;

}

header nav {
	grid-column: 5 / 13;
	background-color: #862834;
	align-self: center;
}

.hero-text {
	grid-column: 1 / 7;
	background-color: blue;
}

.hero-image {
	grid-column: 7 / 13;
	background-color: greenyellow;
}

.hero-image img {
	width: 100%;
}

h1 {
	font-size: 54px;
	line-height: 60px;
	font-weight: #565C93;
	margin: 0;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #fff;
}

h3 {
	font-size: 16px;
	line-height: 36px;
	font-weight: 400;
	color: #fff;
}

.button {
	padding: 15px 30px;
	background-color: #60413E;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

.hero-text {
	grid-column: 1 / 7;
	background-color: yellow;
	align-self: center;
}

.hero-image {
	grid-column: 7/ 13;
	background-color: green;
	align-self: center;
}

h2 {
	color: ;
	font-size: 36px;
}